html {
    scroll-behavior: smooth;
    
}

body {
    background-image: url(img/codePic2.jpg);
}

.imagenPerfil {
    width: 80%;
    border-radius: 50%;
}

.container-padre {
    height: 100vh;
    background-color: rgba(0,0,0,0.7);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    }

.container-hijo {
    width: 60%;

    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    }

    .about {
background-color: #fff;
    }

.portfolio {
    background-color: #fff;
}

.contact {
    background-color: #fff;
}


.card {
    width: auto;
}

form {
    width: 40%;
    margin: auto;
    /* background-color: rgba(0, 0, 0, 0.2); */
    padding: 1rem 2rem;
    box-sizing: border-box;
    border-radius: 2rem;
    height: 36%;
    text-align: right;
  }


/* medyaqueris */

@media (max-width: 800px) {
    .contenedorPresentacion {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        }
    
    #divPerfil {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
        margin-left: 0% !important;


        width: 50%;
        margin-top: 10%;
        }
    
    #presentacion {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;

        width: fit-content;
        padding-top: 5%;
        }


        .contenedorWhoAmI {
            display: inline-flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-content: flex-start;
            align-items: center;
            }
        
        #WhoAmI {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;

            width: 100%;
            }
        
        #skills {
            order: 0;
            flex: 0 1 auto;
            align-self: auto;

            width: auto;
            }

            #tituloSkills {
                margin-left: 0% !important;
                margin-top: 2%;
            }










  }