*{
    margin: 0%;
    padding: 0%;
    flex: auto;
    background-color: beige;
}
body{
    background-color: beige;
}
.container{
    width: 100%;
}

.header{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.titulo {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    }

.barra{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

    .nav-bar{
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-align-content: flex-start;
            -ms-flex-line-pack: start;
            align-content: flex-start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            list-style: none;
            }
    

    .nav-item{
            -webkit-order: 0;
            -ms-flex-order: 0;
            order: 0;
            -webkit-flex: 0 1 28%;
            -ms-flex: 0 1 28%;
            flex: 0 1 28%;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
            font-family: 'Varela Round', sans-serif;
            }

            .columna {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-align-content: flex-start;
                -ms-flex-line-pack: start;
                align-content: flex-start;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start;
                margin-top: 10%;
                margin-left: 10%;
                }

            .elemento{
                color: gray;
                font-weight: bold;
            }
            
            .texto {
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 0 1 35%;
                -ms-flex: 0 1 35%;
                flex: 0 1 35%;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                font-family: 'Roboto', sans-serif;
                }

                h2{
                    font-size: 300%;
                }
            
            .imagenes {
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 0 1 50%;
                -ms-flex: 0 1 50%;
                flex: 0 1 50%;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                
                justify-content: space-between;
                }


           
                /* .row {
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: row;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    -webkit-justify-content: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-align-content: flex-start;
                    -ms-flex-line-pack: start;
                    align-content: flex-start;
                    -webkit-align-items: flex-start;
                    -ms-flex-align: start;
                    align-items: flex-start;
                    } */
                    
                    .row{
                        margin-left: 10%;
                        justify-content: space-between;
                    }


                .gato {
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-flex: 0 1 45%;
                    -ms-flex: 0 1 45%;
                    flex: 0 1 45%;
                    -webkit-align-self: auto;
                    -ms-flex-item-align: auto;
                    align-self: auto;
                    }

                    .perro {
                        -webkit-order: 0;
                        -ms-flex-order: 0;
                        order: 0;
                        -webkit-flex: 0 1 45%;
                        -ms-flex: 0 1 45%;
                        flex: 0 1 45%;
                        -webkit-align-self: auto;
                        -ms-flex-item-align: auto;
                        align-self: auto;
                        }
                .img{
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                }
